{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/nature/nature.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="nature">
		<h1>Nature</h1>
		<div class="mini-menu">
			<a href="#slider-image-1">Lacs</a>
			<a href="#slider-image-2">Milieux Rocheux</a>
			<a href="#slider-image-3">Plateaux</a>
		</div>
		<div class="slider-holder">
			<span id="slider-image-1"></span>
			<span id="slider-image-2"></span>
			<span id="slider-image-3"></span>
			<div class="image-holder">
				<img src="{{ base_url() }}/img/nature/lacs/lacs_icone.png" class="slider-image" />
				<img src="{{ base_url() }}/img/nature/lacs/lac_leman.jpg" class="slider-image" />
				<img src="{{ base_url() }}/img/nature/lacs/lac_annecy.jpg" class="slider-image" />
			</div>
			<div class="button-holder">
				<a href="#slider-image-1" class="slider-change"></a>
				<a href="#slider-image-2" class="slider-change"></a>
				<a href="#slider-image-3" class="slider-change"></a>
			</div>
		</div>
    </div>

{% endblock %}

{% block js %}<script src="{{ base_url() }}/js/nature/nature.js"></script>{% endblock %}