{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/nature/nature.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div id="nature">
		<h1>Nature</h1>
		<div class="mini-menu">
			<a href="#slider-image-1">Lacs</a>
			<a href="#slider-image-2">Milieux Rocheux</a>
			<a href="#slider-image-3">Plateaux</a>
		</div>
		<div id="owl-nature" class="owl-carousel owl-theme">
			<div class="icon">
				<img src="{{ base_url() }}/img/nature/lacs/lacs_icone.png">
				<h1>Lacs</h1>
			</div>
			<div class="item">
				<img src="{{ base_url() }}/img/nature/lacs/lac_leman.jpg">
				<div class="texte">
					<h3>Le lac l&eacute;man</h3>,  du latin Lac Lemanus, connu &eacute;galement sous le nom de lac de 
					Gen&egrave;ve, est situ&eacute; &agrave; la fois en France et en Suisse. Il s&rsquo;agit 
					du plus grand lac alpin d&rsquo;Europe centrale. </br></br> Il mesure pr&egrave;s de 73 km de 
					longueur et atteint 14 km de largeur. Issu d&rsquo;un glacier, ce lac offre des points de 
					vue remarquables notamment au niveau des couleurs. Il s&rsquo;agit d&rsquo;un v&eacute;ritable 
					point de rendez-vous genevois de part son attractivit&eacute;, et ses diverses activit&eacute;s 
					nautiques.
				</div>
			</div>
			<div class="item">
				<img src="{{ base_url() }}/img/nature/lacs/lac_annecy.jpg">
				<div class="texte">
					Connaissez-vous le lac bleu ? Peut-&ecirc;tre que son v&eacute;ritable nom, &ldquo;
					le <h3>lac d&rsquo;Annecy&rdquo;</h3>, semble plus familier. En effet, ce lac, &eacute;galement
					d&rsquo;origine glaciaire, s&rsquo;est form&eacute; il y a environ 18 000 ans. Il puise
					ses eaux des montagnes avoisinantes via les torrents du Laudon, et de l&rsquo;Ire notamment.
					Il a une superficie de 27,6 km&sup2; et sa profondeur est de 82 m. </br></br> On peut dire qu&rsquo;
					il s&rsquo;agit d&rsquo;un tr&egrave;s beau lac situ&eacute; au milieu d&rsquo;un paysage montagnard magnifique.
					Il est possible de se balader en v&eacute;lo autour du lac et de s&rsquo;y baigner.
				</div>
			</div>
		</div>
    </div>

{% endblock %}

{% block js %}<script src="{{ base_url() }}/js/nature/nature.js"></script>{% endblock %}