{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/nature/nature.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div id="nature">
		<h1>Nature</h1>
		<div class="mini-menu">
			<a href="#slider-image-1">Lacs</a>
			<a href="#slider-image-2">Milieux Rocheux</a>
			<a href="#slider-image-3">Plateaux</a>
		</div>
		<div id="owl-nature" class="owl-carousel owl-theme">
			<div class="icon">
				<img src="{{ base_url() }}/img/nature/lacs/lacs_icone.png">
				<h1>Lacs</h1>
			</div>
			<div class="item"><img src="{{ base_url() }}/img/nature/lacs/lac_leman.jpg"></div>
			<div class="item"><img src="{{ base_url() }}/img/nature/lacs/lac_annecy.jpg"></div>
		</div>
    </div>

{% endblock %}

{% block js %}<script src="{{ base_url() }}/js/nature/nature.js"></script>{% endblock %}