<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>Auvergne - Rhône Alpes</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="{{ base_url() }}/css/font/fontello/css/fontello.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/js/owl/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/js/owl/assets/owl.theme.default.min.css">
    <link href="{{ base_url() }}/css/app.css" rel="stylesheet">
    {% block css %}{% endblock %}
    
</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top home-navbar">
      <div class="container"> 
        <a class="navbar-brand" href="home"><img src="img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="nature">Nature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="histoire">Histoire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="grandes_villes">Grandes Villes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="activites">Activités</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="culinaire">Spécialités Culinaires</a>
            </li>
          </ul>
          <div class="my-2 my-lg-0 social-icons">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="icon-facebook"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="icon-instagram"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="icon-twitter"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer">
      <div class="social row">
        <div class="col-md-4 text-center">
          <span class="icon-facebook"></span> Facebook
        </div>
        <div class="col-md-4 text-center">
          <span class="icon-instagram"></span> Instagram
        </div>
        <div class="col-md-4 text-center">
          <span class="icon-twitter"></span> Twitter
        </div>
      </div>
      <div id="owl-footer" class="owl-carousel">
          <img src="{{ base_url() }}/img/footer/carousel/1.jpg">
          <img src="{{ base_url() }}/img/footer/carousel/2.jpg">
          <img src="{{ base_url() }}/img/footer/carousel/3.jpg">
          <img src="{{ base_url() }}/img/footer/carousel/4.jpg">
      </div>
      <div class="official-website">
        <p class="text-center">Site officiel de la région de Haute-Savoie <a href="#">http://www.haute-savoie-tourisme.org</a></p>
        <div class="text-center">
          <span class="back-to-top icon-up-open-big"></span>
        </div>
      </div>
    </footer> 

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{{ base_url() }}/js/owl/owl.carousel.min.js"></script>
    <script src="{{ base_url() }}/js/app.js"></script>
	{% block js %}{% endblock %}
</body>
</html>