<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>Auvergne - Rhône Alpes</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,600" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="{{ base_url() }}/css/font/fontello/css/fontello.css" rel="stylesheet">
	<link href="{{ base_url() }}/css/font/lemon/stylesheet.css" rel="stylesheet">
    <link href="{{ base_url() }}/css/app.css" rel="stylesheet">
    {% block css %}{% endblock %}
    
</head>
<body>
    <nav class="navbarre">
      <nav class="contenu"> 
        <a class="navb-logo" href="home"><img src="img/logo.png"></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-site" aria-controls="navbar-site" aria-expanded="false" aria-label="Toggle navigation"> -->
          <!-- <span class="icon-bar"></span> -->
        <!-- </button> -->
		<span id="hidden-title">Auvergne - Rhône - Alpes</span>
        <div id="navbarre-site">
		  <input type="checkbox" id="menu-toggle">
		  <div class="main-menu">
			  <ul class="navb-nav">
				<a class="navb-link" href="nature"><li class="navb-item">Nature</li></a>
				<a class="navb-link" href="histoire"><li class="navb-item">Histoire</li></a>
				<a class="navb-link" href="grandes_villes"><li class="navb-item">Grandes Villes</li></a>
				<a class="navb-link" href="activites"><li class="navb-item">Activités</li></a>
				<a class="navb-link" href="culinaire"><li class="navb-item">Spécialités Culinaires</li></a>
			  </ul>
		  </div>
          <div class="social-icons">
            <ul class="navb-nav">
              <li class="navb-item">
                <a class="navb-link" href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
              </li>
              <li class="navb-item">
                <a class="navb-link" href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
              </li>
              <li class="navb-item">
                <a class="navb-link" href="https://twitter.com/"><span class="icon-twitter"></span></a>
              </li>
            </ul>
          </div>
        </div>
		<label for="menu-toggle" class="label-toggle"><span class="icon-menu"></span></label>
      </nav>
    </nav>

    {% block content %}{% endblock %}
	<span class="back-to-top icon-up-open-big"></span>
    <footer class="footer">
      <div class="social">
		<a href="https://www.facebook.com/"><span class="icon-facebook"></span>Facebook</a>
		<a href="https://www.instagram.com/"><span class="icon-instagram"></span>Instagram</a>
		<a href="https://twitter.com/"><span class="icon-twitter"></span>Twitter</a>
      </div>
      <div id="slider-footer">
		  <img id="img1" src="{{ base_url() }}/img/footer/slider/1.jpg">
		  <img src="{{ base_url() }}/img/footer/slider/2.jpg">
		  <img src="{{ base_url() }}/img/footer/slider/3.jpg">
		  <img src="{{ base_url() }}/img/footer/slider/4.jpg">
		  <img src="{{ base_url() }}/img/footer/slider/5.jpg">
		  <img class="clone" src="{{ base_url() }}/img/footer/slider/1.jpg">
		  <img class="clone" src="{{ base_url() }}/img/footer/slider/2.jpg">
		  <img class="clone" src="{{ base_url() }}/img/footer/slider/3.jpg">
		  <img class="clone" src="{{ base_url() }}/img/footer/slider/4.jpg">
		  <img class="clone" src="{{ base_url() }}/img/footer/slider/5.jpg">
	  </div>
      <div class="official-website">
        <p class="text-center">Site officiel de la région de Haute-Savoie <a href="#">http://www.haute-savoie-tourisme.org</a></p>
      </div>
    </footer> 

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{{ base_url() }}/js/app.js"></script>
	{% block js %}{% endblock %}
</body>
</html>